* {
  box-sizing: border-box;
}

h2 {
  margin: 0;
}

.navbar__wrapper {
  max-width: 1380px;
  margin: 0 auto;
  padding: 0px 12px;
  height: 80px;
  background: white;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.navbar__left {
  display: flex;
}
.navbar__left-sitname > a {
  color: #333333;
  font-size: 28px;
  text-decoration: none;
}

.navbar__left-list {
  display: flex;
  list-style: none;
  margin: 0;
  padding: 0;
  font-size: 16px;
}
.navbar__left-list li > a {
  display: block;
  text-decoration: none;
  color: #787878;
  padding: 12px 10px;
}

.navbar__right-list {
  display: flex;
  list-style: none;
  margin: 0;
  padding: 0;
  font-size: 16px;
}
.navbar__right-list li > a {
  display: block;
  text-decoration: none;
  color: #787878;
  padding: 12px 10px;
}

.banner {
  background-image: linear-gradient(to top, #000000, #434343);
  height: 240px;
  color: #FFFFFF;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
.banner h1 {
  margin: 0 0 10px 0;
}

.container__wrapper {
  display: flex;
  justify-content: center;
  background: #FFFFFF;
  margin: -30px auto;
  max-width: 680px;
  padding: 54px 42px;
  min-height: calc(100vh - 350px);
}

.posts {
  background: white;
  padding: 6px;
  display: inline-flex;
  margin: 0 auto;
  margin-top: -50px;
  flex-direction: column;
}

.post + .post {
  margin-top: 24px;
}

.post {
  width: 650px;
  padding: 20px;
  border: solid 0.5px #333333;
}
.post__header {
  font-size: 16px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.post__edit-btn > a {
  padding: 3px 12px;
  border: solid 1px #787878;
  color: #787878;
  text-decoration: none;
  font-size: 14px;
}
.post__info {
  margin-top: 19px;
  padding: 12px 14px;
  background: #787878;
}
.post__content {
  margin-top: 18px;
  white-space: pre-line;
  word-break: break-all;
  line-height: 1.5em;
}
.post__read-more-btn {
  display: inline-block;
  padding: 8px 16px;
  border: solid 1px #787878;
  color: #787878;
  margin-top: 28px;
  text-decoration: none;
}

.login__wrapper {
  margin: 0 auto;
  border: solid 1px #000000;
  width: 530px;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 62px 72px;
  margin-top: -30px;
  background: white;
  margin-bottom: 168px;
}
.login__wrapper form {
  width: 100%;
}
.login__wrapper input {
  width: 100%;
}
.login__wrapper input[type=submit] {
  height: 60px;
  background-image: linear-gradient(to top, #000000, #434343);
  color: #FFFFFF;
  margin-top: 80px;
}
.login__wrapper h2 {
  font-size: 40px;
  font-weight: normal;
}

.input__block {
  margin-top: 16px;
  height: 40px;
}

.input__wrapper + .input__wrapper {
  margin-top: 30px;
}

.input__label {
  font-size: 14px;
  margin-left: 20px;
}

.edit-post {
  width: 650px;
  padding: 30px;
  border: solid 1px #787878;
}
.edit-post__title {
  font-size: 20px;
}
.edit-post__input-wrapper {
  width: 100%;
  margin-top: 28px;
}
.edit-post__input-wrapper > input {
  width: 100%;
  padding: 6px;
}
.edit-post__input-wrapper > textarea {
  width: 100%;
  padding: 6px;
}
.edit-post__btn-wrapper {
  text-align: right;
}
.edit-post__btn {
  display: inline-block;
  padding: 10px 39px;
  border: solid 1px #787878;
  color: #787878;
  cursor: pointer;
  margin-top: 25px;
}
.edit-post select {
  margin-top: 20px;
  padding: 4px;
  width: 100%;
}

.admin-post {
  padding: 24px 0px;
  display: inline-flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid #787878;
  font-size: 14px;
  width: 650px;
}
.admin-post__title {
  font-size: 16px;
  margin-left: 16px;
}
.admin-post__info {
  display: flex;
  align-items: center;
  margin-left: 12px;
}
.admin-post__created-at {
  color: #787878;
}
.admin-post__btn {
  padding: 4px 8px;
  border: 1px solid #787878;
  color: #787878;
  cursor: pointer;
  margin-left: 8px;
  text-decoration: none;
}
.admin-post__btn:last-child {
  margin-right: 16px;
}

.error {
  color: #f57884;
  font-size: 20px;
  margin: 20px 0 30px 0;
}

.page__info {
  display: flex;
  justify-content: center;
  margin-bottom: 30px;
  width: 100%;
}

.paginator {
  display: flex;
  justify-content: center;
  margin-bottom: 120px;
}
.paginator a {
  margin-left: 4px;
  text-decoration: none;
  color: #000000;
  border: 0.5px solid #000000;
  padding: 6px;
}

/*# sourceMappingURL=style.css.map */
