.navbar {
  box-shadow: -1.4px -1.4px 6px 0 #97a2a0;
}

.navbar .wrapper {
  height: 84px;
  background: #ffffff;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.wrapper {
  max-width: 1280px;
  padding: 0 16px;
  margin: 0 auto;
}

.navbar__sitename {
  font-size: 36px;
  color: #489846;
}

.navbar__list {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
  font-size: 18px;
}

.navbar__list li {
  margin-left: 12px;
  border-radius: 8px;
  transition: background 0.1s ease-in;
}

.navbar__list li.active,
.navbar__list li:hover {
  background: #ff7286
}

.navbar__list li.active a,
.navbar__list li:hover a {
  color: #ffffff;
}

.navbar__list li a {
  display: block;
  color: #010101;
  text-decoration: none;
  padding: 12px 24px;
}

/* lottery */

.lottery {
  position: relative;
  height: 650px;
  background: url('../images/mainimage.png') center/cover no-repeat;
}

.lottery.first-prize {
  background: url('../images/airplane.jpg') center/cover no-repeat;
}

.lottery.second-prize {
  background: url('../images/television.jpg') center/cover no-repeat;
}

.lottery.third-prize {
  background: url('../images/youtuber.jpg') center/cover no-repeat;
}

.lottery.none-prize {
  background: black;
}

.lottery:after {
  content: '';
  position: absolute;
  background: rgba(0, 0, 0, 0.1);
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}

.lottery-info {
  position: relative;
  max-width: 380px;
  border-radius: 16px;
  background: #ffffff;
  position: relative;
  margin: 0;
  z-index: 1;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  padding: 30px 40px;
}

.lottery-info__top {
  color: #5ec1b6;
  font-size: 22px;
  font-weight: bold;
}

.lottery-info__desc {
  display: flex;
  align-items: flex-start;
  font-size: 16px;
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
  padding: 20px 0;
}

.lottery-info__desc-title {
  font-size: 18px;
  font-weight: bold;
  width: 92px;
}

.lottery-info__desc-content {
  flex: 1;
  text-align: left;
  font-size: 16px;
  line-height: 1.5em
}


.lottery-info__btn {
  font-size: 20px;
  color: white;
  background: #e62a45; 
  border-radius: 8px;
  text-align: center;
  padding: 14px 60px;
  cursor: pointer;
  margin-top: 32px;
}

.noshow {
  display: none;
}

.lottery-result {
  text-align: center;
  position: relative;
  z-index: 1;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.lottery-result__title {
  font-size: 36px;
  color: white;
  font-weight: bold;
}

.lottery-result__btn {
  font-size: 20px;
  padding: 18px 20px;
  background: #e62a45;
  border-radius: 8px;
  max-width: 300px;
  margin: 40px auto;
  cursor: pointer;
  color: white;
} 

/* footer */

.footer__bottom {
  background: #35564b;
  font-size: 16px;
  color: #ffffff;
  text-align: center;
  padding: 12px;
}

.footer__top {
  background: #e8efee;
  color: #484848;
}

.footer__top .wrapper {
  display: flex;
  justify-content: space-between;
  padding: 32px;
}

.footer__info {
  margin-right: 18px;
}

.footer__info div + div {
  margin-top: 10px;
}

.footer__site {
  text-align: right;
}

.footer__site ul {
  list-style: none;
  display: flex;
  margin: 0;
  padding: 0
}

.footer__site li a {
  text-decoration: none;
  color: #484848;
}

.footer__site div {
  font-size: 36px;
  color: #489846;
}

@media(max-width: 768px) {
  .navbar .wrapper {
    height: 120px;
    flex-direction: column;
    justify-content: center;
    padding: 0;
  }

  .navbar__site-name {
    margin-top: 5px;
  }

  .navbar__list {
    width: 100%;
    display: flex;
  }

  .navbar__list li {
    flex: 1;
    margin-left: 0;
    border-radius: 0; 
    text-align: center;
  }

  .footer__top .wrapper {
    flex-direction: column-reverse;
  }

  .footer__site {
    text-align: left;
  }

  .footer__info {
    margin-right: 0;
    margin-top: 20px;
  }

  .lottery-info {
    padding: 20px 30px;
  }
}
